{% extends 'base.html' %}

{% block content %}
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="date" name="date_of_birth"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="tel" name="phone_number" placeholder="Phone Number"><br>
        <input type="text" name="home_address" placeholder="Home Address"><br>
        <input type="submit" value="Signup">
    </form>
{% endblock %}
