/* Body styling */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation styling */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* Heading styling */
h1 {
  color: #333;
  margin-top: 20px;
}

h2 {
  color: #333;
  margin-top: 10px;
}

/* Form styling */
form {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="tel"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Container styling */
.container {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional styles for specific elements */

/* Dashboard styling */
.dashboard-container {
  margin-top: 50px;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-message {
  font-size: 16px;
  margin-bottom: 20px;
}

.dashboard-form {
  margin-top: 20px;
}

.dashboard-select {
  margin-bottom: 10px;
}

.dashboard-submit {
  margin-top: 10px;
}

/* Contact styling */
.contact-container {
  margin-top: 50px;
}

.contact-container p {
  margin-bottom: 10px;
}
